<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dfuse.dysfunctionallayers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".Overlay"
            android:exported="true">
            <intent-filter>
                <action android:name="com.layers.plugins.PICK_OVERLAYS" />
                <category android:name="Overlay" />
            </intent-filter>
        </service>

        <meta-data android:name="Layers_Name" android:value="@string/ThemeName"/>
        <meta-data android:name="Layers_Developer" android:value="@string/ThemeAuthor"/>
        <meta-data android:name="Layers_Description" android:value="@string/ThemeDescription"/>
        <meta-data android:name="Layers_WhatsNew" android:value="@string/ThemeChangelog"/>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>